<div class="activityWrap">
  <div class="searchActivity">
    <input type="search" value="" placeholder="Search activity">
    <input type="text" value="" placeholder="Create activity">
  </div>
  <div class="activityWrap2">
    <ul>
      <li>1asd</li>
      <li>2ad</li>
      <li>3asdasd</li>
      <li>4bdasde</li>
      <li>5avxadas</li>
      <li>6asd123132</li>
      <li>7fff</li>
      <li>8asdasd</li>
      <li>9asdasd</li>
      <li>10asdasd</li>
      <li>11asdasd</li>
      <li>12asdasd</li>
    </ul>
  </div>
</div>
