<div routerLink="/" *ngIf="EventCreation" (click)="closeEventCreation()" class="creationWrapper">
  <div (click)="$event.stopPropagation()" class="creationDiv">
    <div routerLink="/" (click)="closeEventCreation()" class=close-button></div>
    <form id='creationForm' action='#' method='post' accept-charset='UTF-8'>

      <div class="createEventStep1" *ngIf="step === 1">
        <legend>Create Event</legend>
        <h2>Click map to place the event</h2>
        <app-googlemap></app-googlemap>
        <div class="wrapdate">
          <div class="startdate">
            <label for="startdate">Start</label>
            <input type="date" name="startdate" id="startdate" [value]="startdate">
            <input type="time" [value]="starttime">
          </div>
          <div class="enddate">
            <label for="startdate">End</label>
            <input type="date" name="startdate" id="startdate" [value]="startdate">
            <input type="time" [value]="starttime">
          </div>
        </div>
        <div class="wrapProceedBtn">
          <input class='proceed' type='submit' name='Submit' value='Proceed' (click)="changeStep(2)">
        </div>
      </div>

      <div class="createEventStep2" *ngIf="step === 2">
        <legend>Create Event</legend>
        <h2>What?</h2>
        <app-activity></app-activity>
        <h2>Describe it!</h2>
        <textarea class="description" placeholder="Something"></textarea>
        <div class="wrapProceedBtn">
          <input class='back' type='submit' name='Submit' value='Back' (click)="changeStep(1)">
          <input class='proceed' type='submit' name='Submit' value='Proceed' (click)="changeStep(3)">
        </div>
      </div>

      <div class="createEventStep3" *ngIf="step === 3">
        <legend>Create Event</legend>
        <h2>Upload picture</h2>
        <app-uploadpicture></app-uploadpicture>
        <h2 class="invite">Invite</h2>
        <div class="wrapPic">
          <img class="eventPicture" src="">
        </div>
        <div class="wrapProceedBtn">
          <input class='back' type='submit' name='Submit' value='Back' (click)="changeStep(2)">
          <input class='proceed' type='submit' name='Submit' value='Publish' (click)="changeStep(4)">
        </div>
      </div>

      <div class="createEventStep4" *ngIf="step === 4">
        <legend>Create Event</legend>
        <h2>DONE</h2>
        <h3>The Event is uploaded</h3>
        <div class="wrapProceedBtn">
          <input class='back' type='submit' name='Submit' value='Cool!' (click)="changeStep(1); closeEventCreation()">
        </div>
      </div>

    </form>
  </div>
</div>
