@import "~variables.scss";

.create_btn{
  width: 21%;
  height: 40px;
  margin-left: 1%;
  background-color: white;
  border: none;
  box-shadow: $shadow1;
  cursor: pointer;
  outline: none;
  margin-top:15px;
}
