/*GLOBAL SCSS VARIABLES*/

/* Color scheme in use */
$color1: #c9feff;
$color2: #93dadb; /* Orginal base color */
$color3: #5eb8ba;
$color4: #337677;
$color5: #1c2323;


/* shadow */
$shadow1: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

/* The black transparent background */
$darkBackground: rgba(0,0,0,0.7);





/* Color scheme - 1 stored for maybe future use
$color1: #c9feff;
$color2: #93dadb;
$color3: #5eb8ba;
$color4: #337677;
$color5: #1b3030;
*/

/* Color scheme - 2 stored for maybe future use
$color1: #efffff;
$color2: #bcf4f4;
$color3: #75dddd;
$color4: #099e9e;
$color5: #0b4949;
*/

/* Color scheme - 3 stored for maybe future use

*/
