/* Start - Making the header responsive design, with compability IE6+*/

header img{
  height:80px;
  margin-top:10px;
}

header{
  width:100%;
  position: relative;
  text-align: center;
  max-width: 650px;
  max-height: 430px;
  margin: auto;
  height: 100px;
}
/* End - Making the header responsive design, with compability IE6+*/

#register, header button{
  position: relative;
  top: -25px;
  margin-left: 10%;

  /* start - make the button transparent and style */
  font-size:2em;
  color:white;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  outline:none;
  /* end - make the button transparent and style */
}
