@import "~variables.scss";

.loginWrapper{
  height: 100%;
  width: 100%;
  background-color: $darkBackground;
  z-index: 10;
  position: fixed;
  cursor:pointer;
}

.loginForm{
  background-color: $color2;
  z-index: 11;
  position: fixed;
  top:20%;
  right:20%;
  left:20%;
  bottom:20%;
  border-radius: 2px;
  cursor:auto;
}

////////////////
// FORM INPUT //
////////////////
#login legend{
  font-size: 2.7em;
  margin-top: 6vh;
  text-align: center;
}
#tel,#proceed{
  position: absolute;
  font-size: 1.5em;
  display: block;
  width: 70%;
  height: 40px;
  margin-top: 50px;
  margin: auto;
  right: 0;
  left: 0;
}
#tel{
  text-indent: 15px;
  top: 35%;
  text-align: center;
}
#proceed{
  top: 60%;
  background-color:white;
  cursor: pointer;
  border:solid rgba(100,100,100,0.55) 1px;
}

//////////////////
// CLOSE BUTTON //
//////////////////

.close-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  right: -0.15em;
  top: -0.15em;
  width: 0.50em;
  height: 0.50em;
  border: none;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font: normal 8em/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  cursor: pointer;
}

.close-button::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.33em;
  height: 0.09em;
  position: absolute;
  content: "";
  top: 0.205em;
  left: 0.09em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  cursor: pointer;
}

.close-button::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.33em;
  height: 0.09em;
  position: absolute;
  content: "";
  top: 0.205em;
  left: 0.09em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  text-shadow: none;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  cursor: pointer;
}
