.main_article{
margin-left: 15px;
width: calc(50% - 25px);
margin-bottom: 15px;
height: 100px;
display: inline-block;
position: relative;
}
.main_article img{
  height:100%;
  width: 100%;
}
.main_article p{
  position: absolute;
}
