<article class="main_article">
  <p>articles works!</p>
  <img src="assets/football.jpg" alt="Hangpy logo">
</article>
<article class="main_article">
  <p>articles works!</p>
  <img src="assets/football.jpg" alt="Hangpy logo">
</article>
<article class="main_article">
  <p>articles works!</p>
  <img src="assets/football.jpg" alt="Hangpy logo">
</article>
<article class="main_article">
  <p>articles works!</p>
  <img src="assets/football.jpg" alt="Hangpy logo">
</article>
<article class="main_article">
  <p>articles works!</p>
  <img src="assets/football.jpg" alt="Hangpy logo">
</article>
