@import "~variables.scss";

.star_article{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height:100px;
  background-color:$color2;
}
.star_article:first-child{
  margin-top: 70px;
}
