/* You can add global styles to this file, and also import other style files */

*{ /* takes away the standard browser settings for more controll, but can be a bit performance hungry*/
  padding:0px;
  margin:0px;
}

body{ /* background color for the webbapplication */
  background-color: #93dadb;
}
