/**
*	EVENT FILTERS
*/

//  Height of the event filters element
$event_filters_height: 64px;

/* Event filters */
#event_filters {
	background: $primary_dark;
	border-radius: 24px;
	border-top-right-radius: 3px;
	padding: 0;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
	position: absolute;
	z-index: 10;
	margin-top: -12px;
	display: none;
	transform: translateX(-100%);
	transform-origin: 100% 0;
	color: #FAFAFA;
	overflow: hidden;
}

/* Just visible */
#event_filters.visible {
	display: block;
}

/* Showing */
#event_filters.visible:not(.hiding){
	animation: event_filters_show 250ms $ease_out;
}

/* Hiding */
#event_filters.visible.hiding {
	animation: event_filters_hide 250ms $ease_out;
}

#event_filters {
	li {
		width: 96px;
		height: 100%;
		display: inline-block;
		text-align: center;
		padding: 16px 8px;
		transition: background 250ms $ease;
	}

	li:hover {
		background: mix($primary, $primary_dark, 25%);
		cursor: pointer;
	}

	figcaption {
		margin-top: 4px;
	}
}

#event_filters figure {
	margin: 0;
}

@keyframes event_filters_show {
	0% {
		transform: transformX(-100%), scale(0.6);
		opacity: 0;
	}
}

@keyframes event_filters_hide {
	100% {
		transform: transformX(-100%), scale(0.6);
		opacity: 0;
	}
}

/* Common confirm button */
.confirm_btn {
	margin-top: 24px;
}

/* ATTENDEES DIALOG */

#attendees_filter_dialog,
#location_filter_dialog {
	div,
	p,
	h2 {
		text-align: center;
	}
}


/* Between max and min input */
#attendees_filter_min + p {
	display: inline-block;
	margin: 0 24px;
}


/* START DIALOG */

#start_filter_dialog {
	div,
	p,
	h2 {
		text-align: center;
	}
}

#start_filter_input_c {
	display: inline-block;
	margin-bottom: 20px;
	p {
		display: inline-block;
	}
}

/* checkbox ID */
#start_filter_checkbox{
	margin-left:-40px;
}

/* Days dropdown */
#start_filter_days {
	margin: 0 18px;
}


/* LOCATION DIALOG */

#location_filter_dialog {
	padding: 24px;

	h2 {
		margin: 36px 0 18px 0;
	}
}

/* Distance label */
#distance_label {
	font-size: 20px;
	margin-bottom: 18px;
}

/* Map */
#location_filter_map {
	width: 800px;
	height: 450px;
}

/* Distance input */
#location_distance_input {
	width: 380px;
}
