.event_suggestions_wrapper{
  width: 33.33%;
  background-color:white;
  float:right;
  border-radius: 15px;
  padding-bottom: 15px;
}

.event_suggestions_article_wrapper{
  margin:15px;
}

.event_suggestions_wrapper h2{
  text-align: center;
}

.event_suggestions_article, .event_suggestions_article img{
  width: 100%;
  margin-top: 5px;
}

.event_suggestions_article img{
  height: 182px;
}
