
#event_info_page {
  min-width: 756px;
  max-width: 1040px;
  width: calc(66.66% - 15px);
  border-radius: 15px;
}

#event_info_nav_back{
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  width: 100%;
  top: 27px;
}

#event_header {
  .event_info_name {
    transform: translateY(-100%);
    left: 0;
    width: 100%;
  }
}

#event_gallery {
  height: 360px;
  left: -$page_padding;
  position: relative;
  width: calc(100% + #{$page_padding * 2});
  overflow: hidden;
}

.event_gallery_item {
  height: 360px;
  background-size: cover;
  margin-top: 37px;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  transition: margin-left 250ms $ease, opacity 250ms $ease;
}

$gallery_item_translation: 48px;

.event_gallery_item.right {
  margin-left: $gallery_item_translation;
}

.event_gallery_item.left {
  margin-left: -$gallery_item_translation;
}

.event_gallery_item.right,
.event_gallery_item.left {
  opacity: 0;
}

/* Gallery navigation */
#event_gallery_nav {
  position: absolute;
  width: calc(100% - #{$page_padding * 2});
  margin-top: 48px;
  z-index: 2;
}

/* Changes to the next gallery item */
#event_gallery_next {
  float: right;
}

/* Gallery navigation btn */
#event_gallery_prev,
#event_gallery_next {
  position: relative;
  top: 12px;
  opacity: 0.75;
  transition: opacity 250ms $ease;
}

#event_gallery_prev:hover,
#event_gallery_next:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Container for quick jumps to gallery items */
#quick_container {
  position: absolute;
  left: 50%;
  top: 4px;
  transform: translateX(-50%);

  /* Quick button */
  a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FAFAFA;
    opacity: 0.6;
    margin: 0 4px;
  }
  
  a:hover {
    opacity: 0.8;
  }

  a.selected {
    opacity: 1;
  }
}

#event_info_meta {
  position: relative;
  margin-top: 28px;
  transition: margin-top 250ms $ease;
}
#event_info_meta h1{
  margin-left:15px;
  font-size: 1.8em;
}

/* Metadata list */
.event_info_list {

  /* Metadata icon */
  img {
    margin-right: 8px;
    position: relative;
    top: 4px;
  }
  h3 {
    margin: 8px 0;
    display: inline-block;
  }
}

/* Dates */
#event_end_date,
#event_start_date {
  color: #37474F;
}


$expanded_margin: 320px + 32px;

/* Event location on a Google map */
#event_info_map {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

#event_info_map_c {
  top: 0;
  right: 0;
  position: absolute;
  width: 45%;
  height: 240px;
  transition: width 250ms $ease,
    right 250ms $ease,
    top 250ms $ease,
    box-shadow 250ms $ease,
    height 250ms $ease; /* transition expanded */
}

#event_info_meta.expanded {
  #event_info_map_c {
    width: calc(100% + #{$page_padding * 2});
    right: -$page_padding;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
    top: -$expanded_margin;
    height: 320px;
  }
  
  #event_info_map {
    border-radius: 0;
  }

  /* Fill out right column*/
  #event_info_actions {
    position: absolute;
    top: 0;
    right: 0;

    .group_2,
    .group_3 {
      text-align: right;
    }
  }
  margin-top: $expanded_margin;

  + #event_description {
    margin-top: 64px;
  }
}

/* Button to market event */
#event_info_market {
  margin-top: 8px;
}


/* Some event actions */
#event_info_actions {
  .group_2 {
    margin-top: 8px;
  }
}

/* Button to expand map */
#event_expand_map {
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: $primary_dark;
  right: -12px;
  top: -12px;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

#event_expand_map:hover {
  background: $primary;
}

.event_info_google_map > img{
  width: 100%;
}

/* Container of share URL */
#event_share_c {
  position: absolute;
  padding: 24px;
  background: #FAFAFA;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
  z-index: 5;
  border-radius: 8px;

  input {
    width: 320px;
  }

  .notch {
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #FAFAFA;
    top: -16px;
  }

  h3 {
    font-size: 15px;
    margin: 0 0 8px 4px;
    display: block;
    color: #424242;
  }

  /* Rules as hidden */
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms $ease, transform 250ms $ease;
  transform-origin: 5% 0;
}

#event_share_c.gone {
  visibility: hidden;
}

#event_share_c.visible {
  opacity: 1;
  transform: scale(1);
}

#event_info_meta > button{
  margin-bottom: 15px;
  margin-left: 15px;
  min-width: 80px;
  height: 40px;
  border-radius: 15px;
}

/* Approve button */
#event_info_approve {
  background: #66bb6a;
}

/* Delete button */
#event_info_delete {
}

#event_description {
  margin: 80px 0;
  margin-left: 12px;
}

//  Profile picture size for attendees
$profile_pic_size: 80px;

$attendee_width: 146px;

/* List of event attendees */
.event_attendees {
  position: relative;
  overflow: hidden;
  
  li {
    display: inline-block;
    text-align: center;
    height: 140px;
    width: $attendee_width;
    border-radius: 8px;
    transition: background 250ms $ease;
    box-sizing: border-box;
    padding-top: 12px;
  }

  /* Clickable */
  li:hover {
    cursor: pointer;
    transition-duration: 100ms;
    background: rgba($primary, 0.33);
  }
  
  /* Profile picture of the attendee */
  .profile_picture {
    width: $profile_pic_size;
    height: $profile_pic_size;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-position: center;
  }
}

/* User posts (comments) */
#event_info_comments {
  margin-top: 128px; /* Since comment form is absolute */

  li {
    /* Button for deleting post */
    .delete {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: red;
      right: 5%;
      position: absolute;
    }

    .profile_picture {
      width: 48px;
      height: 48px;
      display: inline-block;
      float: left;
      margin-right: 16px;
      background-size: cover;
      background-position: center;
    }

    .content {
      margin: 15px;
      min-width: 70%;
      display: table;
      background-color: whitesmoke;
      border-radius: 15px;
      padding: 15px;
      padding-bottom: 2px;
      
      .message {
        margin: 0;
      }
    }

    /* Replying field */
    .reply_wrapper {
      .input {
        margin-top: 5px;
        height: 30px;
        padding: 0px;
        min-width: 100px;
        cursor: pointer;
        width: calc(100% - 150px);
        border-radius: 15px;
        margin-top: 15px;
        padding: 15px;
        overflow: hidden;
        padding-right: 132px;
      }

      .submit {
        background: #469ea0;
        color: #FAFAFA;
        font-size: 17px;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 12px;
        float: right;
        margin-right: 5px;
        margin-top: -49px;
        position: relative;
      }
    }
  }

  /* This is a reply to the preceding user post */
  li.reply {
    margin-left: 48px;
  }
}

#event_attendees_preview {
  height: 140px;
  margin-bottom: 48px;
}

#event_info_attendees_show_all {
  min-width: 80px;
  height: 40px;
  border-radius: 15px;
  float: right;
  margin-right: 15px;
  margin-top: 40px;
  cursor: pointer;
}

#event_attendees_all {
  /* Attendee list */
  .event_attendees {
    margin-top: 36px;
    width: #{$attendee_width * 4 + 24px}; /* Scrollbar offset */
    height: 480px;
    overflow-y: scroll;
  }
}

/* Input to search for attendee while showing all */
#search_attendee {
  display: block;
  margin: auto;
}

.event_info_comments img{
  height: 50px;
  float: left;
  margin-right: 15px;
}

.event_info_sub_comment{
  margin-left:50px;
}

.event_info_comments h2{
  margin-left:15px;
}

.event_info_comments li{
  list-style-type: none;
}

.thread{
  padding: 3px;
}

/* Form for writing a user post */
#comment_form {
  white-space: nowrap;
  $submit_button_width: 80px;
  position: absolute;
  width: 100%;

  /* Input field */
  .input {
    min-height: 64px;
    position: relative;
    width: calc(100% - 60px);
    max-width: 480px;
    padding-right: #{$submit_button_width + 24px};
    text-align: left;
  }

  /* Submit button container */
  .submit_c {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(-#{$submit_button_width}); /* overlap text input */
    width: $submit_button_width;
    height: 100%;

    input {
      z-index: 1;
      border: 0;
      background: url('assets/ic_next_white.png') center no-repeat;
      width: 100%;
      height: 100%;
    }

    /* Background */
    div:first-of-type {
      position: absolute;
      width: 128px;
      height: 128px;
      background: $primary_dark;
      transform: translateY(-50%);
      top: 50%;
      border-radius: 50%;
      z-index: -1;
    }
  }
}

/* Attendee details dialog */
#user_details_dialog {
  width: 60%;
  max-width: 395px;

  .display_name {
    font-size: 28px;
  }

  /* Profile picture */
  .profile_picture {
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 24px;
    background-color: #FAFAFA;
    border: 4px solid #fafafa; /* Prevents background complimentary colors */
    background-size: cover;
    background-position: center;
  }

  p {
    font-size: 20px;
    margin: 12px 0;
  }

  /* Field icon */
  .icon {
    position: relative;
    top: 10px;
    margin-right: 4px;
  }

  /* Bio */
  .bio {
    margin-top: 36px;
    color: rgba(#FAFAFA, 0.85);
  }
}