
/* --------------------- */
/* Main and pay articles */
/* --------------------- */

$article_width: 320px;
$article_height: 240px;
$article_margin: 12px;

/* Height of the toolbar above main events list */
$toolbar_height: 80px;

//  Spacing from main events
$paid_events_spacing: 24px;

/* Width of the paid events list/container */
$paid_events_list_width: $article_width + $article_margin * 2;


.main_content main{
  display: inline-block;
  width: 100%;
}

/* Top-level page */
#frontpage_page {
  padding-right: #{$paid_events_list_width + $paid_events_spacing};
  background: none;
}

/* Main events */
#article_previews {
  margin-top: 8px;
}

/* Main articles */
.frontpage_main_articles_wrapper {
  width: #{$article_width * 2 + $article_margin * 4};
  background-color: #FAFAFA;
  display: inline-block;
  padding-bottom: 12px;
  margin-bottom: $article_margin;
  border-radius: 15px;
  padding: 18px;
  min-height: 320px; /* Space for loading */

  /* Injected paid events are gone on large screen */
  .paid {
    display: none;
  }

  /* Fade in */
  .article_preview {
    animation: article_show 500ms $ease backwards;
  }
}

/* Events loading indicator */
#events_loading {
  margin-top: 36px;
}

@keyframes article_show {
  0% {
    opacity: 0;
  }
}

@media screen and (max-width: #{1112px + $article_margin * 6}) {
  /* Main events to take all columns */
  
  #frontpage_page {
    padding-right: 0;
    
    #paid_events {
      display: none;
    }
  }

  .frontpage_main_articles_wrapper {
    /* Injected paid events are visible */
    .paid {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 750px) {
  /* Main events to take one (all) columns */
  .frontpage_main_articles_wrapper {
    width: calc(100vw - 80px);
  }

  .article_preview {
    width: 100%;
  }
}

/* Specific for pay articles wrapper */
#paid_events {
  width: $paid_events_list_width;
  background: $primary_dark;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 18px;
  margin-top: 64px;

  h1 {
    color: #FAFAFA;
    display: inline-block;
    margin-left:15px;
    margin-bottom:12px;
  }
}

.article_preview {
  margin: $article_margin;
  width: $article_width;
  height: $article_height;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms $ease;
  text-align: left;

  .event_name {
    text-align: left;
    width: 100%;
    bottom: 0;
  }

  /* Start time remaining */
  .event_start_remaining {
    font-size: 16px;
    margin: 0;
    padding: 12px;
    color: #FAFAFA;
    background: rgba($primary_dark, 0.8);
  }

  .event_start_remaining.soon {
    background: rgba(185, 163, 51, 0.8);
  }

  /* Absolute container */
  > div {
    position: absolute;
    width: $article_width;
    height: $article_height;
  }
}

.article_preview:hover {
  box-shadow: 0 8px 48px rgba(0, 0, 0, 0.5);
}

.modal_bg .dialog .event_name {
  margin: 0; /* override h2 */
}

/* Cover photo */
.article_preview .cover, .frontpage_pay_article .cover{
  height:100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.article_preview h2, .article_preview p, .frontpage_pay_article h2, .frontpage_pay_article p{
  position: absolute;
  margin-left:5px;
  margin-top: 7px;
}
/* Specific for pay article */
.frontpage_pay_article{
  margin-left: 15px;
  margin-top: 12px;
  margin-right: 15px;
  height: 182px;
}

.frontpage_pay_article img{
  width: 100%;
  height: 100%;
}

#events_header{
  display: inline-block;
  margin-left:15px;
  margin-bottom: 12px;
}

/* Selected category */
#events_header span {
	color: $primary_dark;
}

#paid_events > input{
  float:right;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 1.8em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color:aliceblue;
}
#paid_events > input:focus{
  outline:0px;
}
/* ------------------------ */
/* frontpage_more_articles tools */
/* ------------------------ */
.frontpage_more_articles{
  background-color: white;
  text-align: right;
  margin-right: 15px;
}
.frontpage_more_articles ul, .frontpage_more_articles li{
  display: inline-block;
  padding: 0;
  cursor: pointer;
  margin:5px;
  font-size: 1.1em;
}
.frontpage_more_articles button{
  display: inline-block;
  height: 25px;
  border: 0;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-size: 1.1em;
  margin-right: -5px;
  margin-top: 15px;
}

#create_event_btn {
  padding-left: 38px;
  background-color: $primary_dark;
  background-image: url('assets/ic_explore.png');
  background-repeat: no-repeat;
  background-position: 8px center;
  float: left;
}

#discover_categories_btn {
  margin-left: $article_margin; /* Align with articles */
}

#create_event_btn {
  background-image: url('assets/ic_add_24dp.png');
  float: right;
  margin-top: 8px;
}

/* Event filters container */
#event_filters_c {
  float: right;
}

/* Button for filtering events */
#discover_categories_btn,
#event_filters_btn {
  width: 48px;
  height: 48px;
  padding: 6px;
  border-radius: 50%;
  margin-right: $article_margin;
}

/* ---------------- */
/* frontpage_tools */
/* ---------------- */

.frontpage_inside_tools{
  width: calc(100% - 15px);
}
.frontpage_main_articles_wrapper h1{
  display: inline-block;
}

.frontpage_inside_tools button:focus{
  outline: none;
}
.frontpage_outside_tools{
  width: calc(66.66% - 15px);
  height: $toolbar_height;
  margin-right: 100%;
}

#frontpage_tool_search_c {
  width: 320px;
  position: absolute;
  margin-left: 345px;
  transform: translateX(-50%);
}

#frontpage_tool_search {
  width: 100%;
  cursor: auto;
  border: 0;
  border-radius: 0;
  background: none;
  border-bottom: 3px solid $primary_dark;
  height: 46px;
}

#frontpage_search_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 8px;
  margin-top: -36px;
}

#frontpage_search_icon:hover {
  opacity: 0.8;
}

.frontpage_outside_tools input{
  height: 35px;
  width: calc(25% - 15px);
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color:white;
  border-radius: 12px;
}
.frontpage_outside_tools input:focus{
  outline: none;
}
.frontpage_outside_tools input:nth-child(2){
  margin-left: 15px;
}

/* Shown when no events have been fetched */
.no_events {
  margin: 48px 0 36px 0;

  img {
    width: 40%;
    max-width: 256px;
  }

  .caption {
    margin-top: 24px;
    font-size: 22px;
    color: $primary_dark;

    a {
      color: mix($primary, $primary_dark, 33%);
    }

    a:hover {
      color: mix(#FAFAFA, $primary_dark, 50%);
      cursor: pointer;
    }
  }
}

/* Marks no paid events */
#frontpage_no_paid_events {
  img {
    width: 50%;
  }
  .caption {
    color: mix($primary, #FAFAFA, 33%);
  }
}

/* Dialog for trending categories */
#trending_cat_dialog {
  min-width: initial;
  max-width: initial;
  width: #{$article_width * 2 + $article_margin * 4 + 24px}; /* Add scrollbar size */

  h2 {
    text-align: center;
  }
}