
/* --------------------- */
/* Main and pay articles */
/* --------------------- */

.main_content main{
  display: inline-block;
  width: 100%;
}

/* Main articles */
.frontpage_main_articles_wrapper{
  width: calc(66.66% - 15px);
  background-color: white;
  display: inline-block;
  padding-bottom: 12px;
  margin-bottom: 15px;
  border-radius: 15px;
}
/* Specific for pay articles wrapper */
.frontpage_pay_article_wrapper{
  width: 33.33%;
  background-color: white;
  display: inline-block;
  float: right;
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-radius: 15px;
}

.frontpage_pay_article_wrapper h1{
  display: inline-block;
  margin-left:15px;
  margin-bottom:12px;
}

.frontpage_article{
  margin-left: 15px;
  width: calc(50% - 22.5px);
  margin-top: 12px;
  float: left;
  height: 182px;  /* Fiendly before img has loaded */
}

/* Cover photo */
.frontpage_article .cover, .frontpage_pay_article .cover{
  height:100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.frontpage_article h2, .frontpage_article p, .frontpage_pay_article h2, .frontpage_pay_article p{
  position: absolute;
  margin-left:5px;
  margin-top: 7px;
}
.frontpage_article p:nth-child(2), .frontpage_pay_article p:nth-child(2){
  margin-top: 45px;
}
.frontpage_article p:nth-child(3), .frontpage_pay_article p:nth-child(3){
  margin-top: 70px;
}
.frontpage_article p:nth-child(4), .frontpage_pay_article p:nth-child(4){
  margin-top: 95px;
}

/* Specific for pay article */
.frontpage_pay_article{
  margin-left: 15px;
  margin-top: 12px;
  margin-right: 15px;
  height: 182px;
}

.frontpage_pay_article img{
  width: 100%;
  height: 100%;
}

#events_header{
  display: inline-block;
  margin-left:15px;
  margin-bottom: 12px;
}

/* Selected category */
#events_header span {
	color: $primary_dark;
}

.frontpage_pay_article_wrapper > input{
  float:right;
  margin-top: 20px;
  margin-right: 15px;
  font-size: 1.8em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color:aliceblue;
}
.frontpage_pay_article_wrapper > input:focus{
  outline:0px;
}
/* ------------------------ */
/* frontpage_more_articles tools */
/* ------------------------ */
.frontpage_more_articles{
  background-color: white;
  text-align: right;
  margin-right: 15px;
}
.frontpage_more_articles ul, .frontpage_more_articles li{
  display: inline-block;
  padding: 0;
  cursor: pointer;
  margin:5px;
  font-size: 1.1em;
}
.frontpage_more_articles button{
  display: inline-block;
  height: 25px;
  border: 0;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  font-size: 1.1em;
  margin-right: -5px;
  margin-top: 15px;
}

/* ---------------- */
/* frontpage_tools */
/* ---------------- */

.frontpage_inside_tools{
  width: calc(100% - 15px);
}
.frontpage_main_articles_wrapper h1{
  display: inline-block;
}
.frontpage_inside_tools button{
  float: right;
  margin-top: 25px;
  width: 20%;
  height: 35px;
  background-color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}
.frontpage_inside_tools button:focus{
  outline: none;
}
.frontpage_outside_tools{
  width: calc(66.66% - 15px);
  height: 35px;
  margin-right: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.frontpage_tool_search_wrapper{
  float: left;
  width: 50%;
  position: relative;
}
#frontpage_tool_search{
  text-indent: 15px;
  width: 100%;
  cursor:auto;
  border-radius: 12px;
}
#frontpage_search_icon{
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  margin-top:5px;
}
.frontpage_outside_tools input{
  height: 35px;
  width: calc(25% - 15px);
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color:white;
  border-radius: 12px;
}
.frontpage_outside_tools input:focus{
  outline: none;
}
.frontpage_outside_tools input:nth-child(2){
  margin-left: 15px;
}

/* Trending categories dialog */
#trending_cat_dialog {
  background: $primary_dark;
}
