/* Global styles */

html{
  height: 100%; /* Used to make the sticky footer work */
}

body{
  margin: 0;
  background-color:#93dadb;
  height: 100%; /* Used to make the sticky footer work */
}

a,
p,
h1,
h2,
div,
button,
input {
  font-family: bpreplay, sans-serif;
}


/* ------------------------ */
/* Main Content on the site */
/* ------------------------ */
.main_content{
  max-width: 1040px;
  width: 100%;
  margin: auto;
}

/* Main font */
@font-face {
  font-family: bpreplay;
  src: url('assets/fonts/bpreplay.regular.ttf');
}

/* Default button */
button {
	background: $primary_dark;
	color: #FAFAFA;
	font-size: 17px;
	padding: 12px 16px;
	border: none;
	border-radius: 12px;
}

button:active {
	outline: none;
}

/* Dropdowns */
select {
  padding: 8px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
}

select:focus {
  outline: none;
}

/* Notification */
#notification {
  position: fixed;
  left: 36px;
  bottom: 24px;
  margin: 0;
  padding: 24px 32px;
  background: $primary_dark;
  color: #FAFAFA;
  font-size: 18px;
  transform-origin: 0 100%;
  border-radius: 24px;
  border-bottom-left-radius: 3px;
}

#notification.visible {
  animation: show_notification 250ms $ease_out;
}

#notification.hiding {
  animation: hide_notification 250ms $ease_in forwards;
}

@keyframes show_notification {
  0% {
    opacity: 0;
    left: -24px;
  }
}

@keyframes hide_notification {
  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}