/* Global styles */

html{
  height: 100%; /* Used to make the sticky footer work */
}

body{
  margin: 0;
  background-color:#93dadb;
  height: 100%; /* Used to make the sticky footer work */
}

a,
p,
h1,
h2,
h3,
div,
button,
input,
textarea,
select,
option {
  font-weight: normal;
  font-family: bpreplay, sans-serif;
}

input:focus {
  outline: none;
}

/* Centers content */
.center {
  text-align: center;
}

/* Right aligns content */
.right {
  text-align: right;
}

/* A page as part of the SPA structure */
.page {
  position: absolute; /* may overlap - but needed for animation*/
  opacity: 1;
  left: 50%;
  transform: translateX(-50%); /* Center */
  padding: $page_padding;
  background: #FAFAFA;
  border-radius: 8px;
}

.page.showing {
  animation: show_page 250ms $ease;
}

/* Hiding page */
.page.hiding {
  animation: hide_page 250ms $ease;
}

/* Hidden page */
.page.hidden {
  display: none;
}

.hide{
  display:none;
}
.show{
  display:block !important;
}


@keyframes show_page {
  0% {
    opacity: 0;
    transform: translate(-50%, 64px);
  }
}

@keyframes hide_page {
  100% {
    opacity: 0;
    transform: translate(-50%, 64px);
  }
}

/* Fullscreen loading overlay */
.fullscreen_overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba($primary, 0.8);
}

/* ------------------------ */
/* Main Content on the site */
/* ------------------------ */
.main_content{
  max-width: 1040px;
  width: 100%;
  margin: auto;
  position: relative;
}

/* Main font */
@font-face {
  font-family: bpreplay;
  src: url('assets/fonts/bpreplay.regular.ttf');
}

/* Default button */
button {
	background: $primary_dark;
	color: #FAFAFA;
	font-size: 17px;
	padding: 12px 16px;
	border: none;
	border-radius: 12px;
}

button[disabled] {
  opacity: 0.75;
}

button:active,
button:focus {
	outline: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

/* Dropdowns */
select {
  padding: 8px;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
}

select:focus {
  outline: none;
}

/* Notification */
#notification {
  position: fixed;
  left: 36px;
  bottom: 24px;
  margin: 0;
  padding: 24px 32px;
  background: $primary_dark;
  color: #FAFAFA;
  font-size: 19px;
  transform-origin: 0 100%;
  border-radius: 24px;
  border-bottom-left-radius: 3px;
}

#notification.visible {
  animation: show_notification 250ms $ease_out;
}

#notification.hiding {
  animation: hide_notification 250ms $ease_in forwards;
}

@keyframes show_notification {
  0% {
    opacity: 0;
    left: -24px;
  }
}

@keyframes hide_notification {
  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

/**
* Generic profile picture.
*/
.profile_picture {
  background-size: cover;
  border-radius: 50%;
}

/* Invisible but accessible */
input.hidden {
  display: inline-block;
  width: 1px;
  height: 1px;
  user-select: none;
  position: absolute;
  left: -50vw;
  opacity: 0;
}

/* Document loading */
#document_loading {
  background: $primary;

  /* Logo */
  img {
    max-width: 240px;
  }

  /* Center everything */
  * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  z-index: 999;
  transition: opacity 250ms $ease_in;
}

#document_loading.hiding {
  opacity: 0;
}

/* An overlaying event name heading */
.event_name.overlay {
  position: absolute;
  margin: 0;
  padding: 18px 24px;
  background: rgba(0, 0, 0, 0.35);
  color: #FAFAFA;
  box-sizing: border-box;
}
