/**
*	LOADING INDICATOR
*/

.loading {
	/* Center */
	margin-left: calc(50% - 60px);
	
	div:nth-child(1) {
		/* Opacity in separate as another ease is used */
		animation: loading_layer_transform 750ms cubic-bezier(0.3, 0.825, 0.7, 0.175) infinite,
			loading_layer_opacity 750ms linear infinite;
		width: 136px;
		height: 136px;
		background: rgba(#FAFAFA, 0.75);
		border-radius: 50%;
		position: absolute;
	}

	div:nth-child(2) {
		width: 64px;
		height: 64px;
		background:#FAFAFA;
		border-radius: 50%;
		margin-left: 36px;
		margin-top: 36px;
		position: absolute;
	}
}

.loading.dark {
	div:nth-child(1) {
		background: rgba($primary_dark, 0.75);
	}

	div:nth-child(2) {
		background: $primary_dark;
	}
}

.loading.hidden {
	display: none;
}

@keyframes loading_layer_transform {
	0% {
		transform: scale(0.5);
	}
	
	100% {
		transform: scale(1.25);
	}
}

@keyframes loading_layer_opacity {
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}