/**
*	MODAL DIALOG
*
*	Dialogs meant to prompt the user for some action.
*/

$dialog_transition_dur: 200ms;
$dialog_hidden_scale: 0.925;

/* Screen-fixed background */
.modal_bg {
	position: fixed;
	left: -40vw;	/* Accounts for scaling */
	top: -40vh;
	right: -40vw;
	bottom: -40vh;
	background: rgba(0, 0, 0, 0.75);
	visibility: hidden;
	overflow-y: auto;
	transition: opacity $dialog_transition_dur $ease, transform $dialog_transition_dur $ease;
	transform: scale($dialog_hidden_scale);
	opacity: 0;

	.dialog {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: $dialog_padding;
		background: #FAFAFA;
		border-radius: $dialog_radius;
		min-width: 320px;
		min-height: 180px;
		max-height: 480px;
		max-width: 640px;
		width: 560%;
		overflow-y: auto;

		h2 {
			margin: 0 0 24px 0;
		}

		/* Container for confirm button */
		.confirm_c {
			text-align: right;
			position: absolute;
			bottom: $dialog_padding;
			right: $dialog_padding;
		}
	}

	/* Dark theme */
	.dialog.dark {
		background: $primary_dark;
		color: #FAFAFA;
	}

	/* */
	.dialog.scroll {

	}
}

.modal_bg.hiding {
	visibility: initial;
	opacity: 0;
	transform: scale($dialog_hidden_scale);
}

.modal_bg.visible {
	visibility: initial;
	opacity: 1;
	transform: none;
}