/**
*	MODAL DIALOG
*
*	Dialogs meant to prompt the user for some action.
*/

$dialog_transition_dur: 200ms;
$dialog_hidden_scale: 0.925;

/* Screen-fixed background */
.modal_bg {
	position: fixed;
	left: -40vw;	/* Accounts for scaling */
	top: -40vh;
	right: -40vw;
	bottom: -40vh;
	background: rgba(0, 0, 0, 0.75);
	visibility: hidden;
	transition: opacity $dialog_transition_dur $ease, transform $dialog_transition_dur $ease;
	transform: scale($dialog_hidden_scale);
	opacity: 0;
}

.modal_bg.hiding {
	visibility: initial;
	opacity: 0;
	transform: scale($dialog_hidden_scale);
}

.modal_bg.visible {
	visibility: initial;
	opacity: 1;
	transform: none;
}

.modal_bg .dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 36px;
	background: #FAFAFA;
	border-radius: $dialog_radius;
	min-width: 480px;
	min-height: 240px;
}