$profile_pic_size: 256px;

#profile_page {
  width: 100%;
  margin-top: #{$profile_pic_size / 2};
  max-width: 960px;
  box-sizing: border-box;
  top: 150px;

  /* Profile section */
  .section {
    margin-top: 36px;
  }
}

#profile_picture,
.profile_pic_options {
  width: $profile_pic_size;
  height: $profile_pic_size;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  background-size: cover;
  position: absolute;
  top: -#{$profile_pic_size / 2};
}

#profile_picture {
  background-color: #FAFAFA;
  background-position: center; 
}

.profile_pic_options {
  text-align: center;
  opacity:0;
  transition: opacity 250ms $ease;
  background-color: rgba(4,4,4,0.5);
}

.profile_pic_options:hover {
  opacity:1;
}

.profile_pic_options button:first-child{
  margin-top:70px;
  cursor: pointer;
}

.profile_pic_options button:nth-child(2){
  margin-top:20px;
  cursor: pointer;
}

#name_wrap {
  margin-top: #{$profile_pic_size / 2 + 24px - $page_padding};
  margin-bottom: 24px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#full_name {
  margin: 0;
}

#phone_number {
  color: #646464;
  margin: 18px 0 0 0;
}

///////////
/// NAV ///
///////////


/////////////////////
// profile_content //
/////////////////////
#profile_setting_content, #profile_event_content, #profile_achivement_content, #profile_bio_content{
  width: 100%;
  margin-top:45px;
}
///////////////////////////
// profile_event_content //
///////////////////////////
#profile_event_content article{
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 15px;
  box-shadow: 1px 1px 2px #999999;
  border-radius: 10px;
  margin-top: 15px;
}
////////////////////////////////
// profile_achivement_content //
////////////////////////////////

#profile_achivement_content article{
  width: 100%;
  height: 80px;
  background-color: white;
  margin-top: 15px;
  box-shadow: 1px 1px 2px #999999;
  border-radius: 10px;
}

#profile_achivement_content article h3{
  line-height: 80px;
}

.profile_achivement_pic{
  background-color: green;
  height: 100%;
  width: 80px;
  border-radius: 5%;
  float: left;
  margin-right: 15px;
}

//////////////
// Settings //
//////////////
#bio {
  width: 50%;
  max-width: 480px;
}



/* My events section */
#my_events_section {
  min-height: 180px; /* Leave space for loading */
}

/* Loading indicator for my events */
#my_events_loading {
  margin-top: 80px;
}

#achievements_section {
  /* Percent progrss label */
  .percent {
    margin-bottom: 8px;
    font-size: 22px;
    width: 64px;
    height: 64px;
    background: #FAFAFA;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 32px);
    margin-top: -28px;
    text-align: center;
    box-sizing: border-box;
    color: $primary_dark;
    padding-top: 18px;
  }
}

/* Progress bar */
#achievements_progress {
  height: 8px;
  background: #E0E0E0;
  margin: 80px 0 64px 0;
  border-radius: 4px;

  div {
    display: inline-block;
    background: $primary_dark;
    height: 100%;
    width: 0;
    transition: width 500ms $ease_out;
    border-radius: 4px;
  }
}

/* Achievements section */
/* Achievements list */
#achievements {
  article.unlocked {
    .icon {
      filter: none;
    }
  }

  /* Text container */
  article {
    > div {
      display: inline-block;
      margin-left: 24px;

      position: relative;
      bottom: 18px;
    }

    width: 50%;
    min-width: 400px;
    display: inline-block;
    margin: 16px 0;
  }

  /* Achievement name */
  .name {
    display: inline-block;
    margin: 0 0 18px 0;
  }

  .description {
    margin: 0;
  }

  .icon {
    filter: grayscale(100%);
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .unlocked_badge {
    position: absolute;
    margin-left: -16px;
    margin-top: -16px;
  }
}

/* Settings label */
#profile_page label {
  display: block;
  margin: 36px 0 8px 0;
}

/* Label for private phone number */
#profile_page label.inline {
  display: inline-block;
  margin-top: 0;
}

/* Delete account button */
#delete_account {
  float: right;
}

/* Sign out button */
#sign_out {
}

$camera_width: 640px;
$camera_height: 480px;

/* Camera capture dialog */
#camera_capture {
  max-height: initial;

  /* Video stream & capture result */
  .target,
  #camera_img_target,
  #camera_container {
    width: $camera_width;
    height: $camera_height;
    overflow: hidden;
    position: relative;
  }
}

/* Circle overlay */
#camera_circle_overlay {
  position: absolute;
  z-index: 2;
  width: $camera_height;
  height: $camera_height;
  margin-left: #{($camera_width - $camera_height) / 2};
  box-sizing: border-box;
  padding: #{$camera_height / 2};
  transform: translate(#{-$camera_height / 2}, #{-$camera_height / 2});
  border-radius: 50%;
  border: #{$camera_height / 2} solid rgba(#FAFAFA, 0.66);
}

/* Capture button */
#camera_capture_snap {
  margin-top: 24px;
}