#profile {
  background-color: white;
  border-radius: 15px;
  position: relative;
  margin-top: 150px;
  margin-bottom: 15px;
}

#profile_picture{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: -125px; // Makes the picture go up halv of its size
}

#name_wrap {
  margin-top: 150px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#display_name{
  border-radius: 15px;
  padding: 5px;
  border: 1px solid;
  text-align: center;
  color: grey;
}

#display_name:focus{
  outline:none;
}

///////////
/// NAV ///
///////////

#nav_wrapper nav ul li{
  list-style-type: none;
  display: inline-block;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 10px;
  border-bottom: 10px solid black;
  border-color: lightgreen;
  margin-left:2%;
  margin-right:2%;
  cursor: pointer;
}
#nav_wrapper nav ul{
  margin: 0;
  padding: 0px;
  text-align: center;
  margin-top: 45px;
}
#nav_wrapper nav hr{
  margin-top: -6px;
  width: 100%;
}
