//  This is the first SCSS file read upon compilation to CSS. Use it to link other SCSS or
//  CSS documents.

$primary: #93dadc;
$primary_dark: #469ea0;
$danger: #ef5350;

$ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease_in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease_out: cubic-bezier(0.215, 0.610, 0.355, 1);

//  Padding on a page
$page_padding: 36px;

//	Border radius for dialogs
$dialog_radius: 18px;

//  Size of a floating remove button
$remove_btn_size: 28px;

//  Padding in a modal dialog
$dialog_padding: 36px;

//  Global stylesheet
@import "global";

//  Footer stylesheet
@import "footer";

//  Header stylesheet
@import "header";

//  Loading stylesheet
@import "loading";

//  Frontpage (first page) stylesheet
@import "frontpage";

//  Event filters (first page) stylesheet
@import "event_filters";

//  Modal dialog
@import "modal_dialog";

//  Login dialog
@import "login";

//	Paid event setup
@import "paid_event_setup";

//  Event_info stylesheet
@import "event_info";

// Event_suggestions stylesheet
@import "event_suggestions";

// Profile stylesheet
@import "profile";

// Create event stylesheet
@import "create_event";

// Forms stylesheet
@import "form";